<!-- ENCABEZADO -->
<section id="encabezado">
  <div class="imagen-encabezado"></div>
  <div class="contenido-encabezado">
    <h1>ESTUDIANTES</h1>
    <p>Asegura tu futuro en nuestro Centro de Formación!</p>
    <p></p>
      <a *ngIf="validarMatricula" class="button" routerLink="/estudiante/matriculacion"  class="button">Matricularme</a>        
      <a *ngIf="!validarMatricula"  class="button" routerLink="/estudiante" style="background-color: rgb(97, 94, 92);" class="button">Matricularme</a>    
  </div>
</section>

<div class="contenedor">
  <div class="container"></div>
  <div class="caja3">
    <h4>
      "Descubre el arte de crear y conviértete en un maestro artesano en nuestro
      Centro Educativo Artesanal UG, donde aprenderás habilidades únicas y
      desarrollarás tu creatividad para dejar una huella en el mundo del arte
      del software."
    </h4>
  </div>
</div>
<div class="contenedor-principal">
  <section class="cuerpo-empresas">
    <h1>Por que elegirnos</h1>
    <div class="contenido-empresas">
      <div>
        <img
          id="eleccion1"
          src="./../../../../assets/imagen/estudiantes/elección1.png"
          alt=""
        />
      </div>
      <div class="empresa">
        <p>
          El Centro Artesanal UG se enfoca en la artesanía de software única y
          personalizada, lo que lo convierte en la mejor opción para aquellos
          que buscan productos de alta calidad que se adapten a sus necesidades
          específicas.
        </p>
      </div>
    </div>
  </section>
  <div class="caja">
    <h1>
      Revisa estas funciones para estar mejor informado de nuestro Centro
      Artesanal
    </h1>
  </div>
  <section class="cuerpo-empresas">
    <h1>Función técnica</h1>
    <div class="contenido-empresas">
      <div class="empresa">
        <p>
          Una razón técnica por la que deberías considerar el Centro Artesanal
          UG es que utilizamos técnicas de producción modernas y avanzadas para
          crear piezas artesanales de alta calidad. Contamos con herramientas y
          maquinarias especializadas que nos permiten producir de manera
          eficiente y precisa, reduciendo los tiempos de producción y aumentando
          la calidad de los productos. Además, nuestros artesanos están
          capacitados en el uso de estas herramientas y técnicas, lo que
          garantiza que cada pieza producida en nuestro centro sea de alta
          calidad y durabilidad.
        </p>
      </div>
      <div>
        <img
          id="Ftecnica"
          src="./../../../../assets/imagen/estudiantes/Ftecnica.jpeg"
          alt=""
        />
      </div>
    </div>
    <h1>Función comercial</h1>
    <div class="contenido-empresas">
      <div>
        <img
          id="Fcontrato"
          src="./../../../assets/imagen/estudiantes/Fcontrato.png"
          alt=""
        />
      </div>
      <div class="empresa">
        <p>
          El Centro Artesanal UG ofrece productos únicos y personalizados de
          alta calidad que no se encuentran en otros lugares, adaptados a los
          gustos y necesidades de los clientes. Su equipo de ventas altamente
          capacitado y amigable ofrece un servicio excepcional al cliente y sus
          precios son competitivos y justos, lo que los hace atractivos y
          accesibles para un amplio público. Comprometidos con la satisfacción
          del cliente, ofrecen la mejor experiencia de compra posible en el
          Centro Artesanal UG.
        </p>
      </div>
    </div>
    <h1>Función financiera</h1>
    <div class="contenido-empresas">
      <div class="empresa">
        <p>
          El Centro Educativo Artesanal UG ofrece programas educativos a precios
          competitivos y accesibles, permitiendo a los estudiantes aprender y
          desarrollar habilidades artesanales sin incurrir en altos costos. Los
          programas están diseñados para maximizar el retorno de inversión de
          los estudiantes, ya que se les capacita en habilidades altamente
          valoradas en el mercado laboral, aumentando sus oportunidades de
          empleo y sus ingresos futuros.
        </p>
      </div>
      <div>
        <img
          id="Ffinanza"
          src="./../../../../assets/imagen/estudiantes/Ffinanza.png"
          alt=""
        />
      </div>
    </div>
    <h1>Función Administrativa</h1>
    <div class="contenido-empresas">
      <div>
        <img
          id="Fadministracion"
          src="./../../../assets/imagen/estudiantes/Fadministracion.png"
          alt=""
        />
      </div>
      <div class="empresa">
        <p>
          El Centro Educativo Artesanal UG tiene un equipo administrativo
          capacitado y eficiente que asegura el éxito de sus programas
          educativos. La administración gestiona recursos, planifica programas,
          realiza seguimiento de estudiantes y desarrolla estrategias para
          mejorar la calidad de los servicios educativos. Son receptivos a las
          necesidades de los estudiantes, ofreciendo un servicio personalizado.
          La eficiente gestión administrativa garantiza que los programas se
          desarrollen con éxito y que los estudiantes reciban una educación
          artesanal de alta calidad en el Centro Educativo Artesanal UG.
        </p>
      </div>
    </div>
  </section>
  <div class="caja4">
    <h4>
      ¿Estás listo para desbloquear todo tu potencial y alcanzar tus metas?
      ¡Inscríbete ahora en nuestra academia y comienza tu camino hacia el éxito!
    </h4>

    <a class="button" aling="right" routerLink="/matricularme" class="button" [ariaDisabled]="false"
      >Matricularme</a
    >
  </div>
</div>
