<!-- ENCABEZADO -->
<section id="encabezado">
  <div class="imagen-encabezado"></div>
  <div class="contenido-encabezado">
    <h1>ESTUDIANTES</h1>
    <p>Asegura tu futuro en nuestro Centro de Formación!</p>
    <p></p>
    <a class="button" routerLink="/matricularme" class="button">Matricularme</a>
  </div>
</section>

<div class="contenedor">
  <div class="container">
   
  </div>
  <div class="caja3">
    <h4>
      "Descubre el arte de crear y conviértete en un maestro artesano en nuestro
      Centro Educativo Artesanal UG, donde aprenderás habilidades únicas y
      desarrollarás tu creatividad para dejar una huella en el mundo del arte
      del software."
    </h4>
  </div>
  
</div>
<div class="contenedor-principal">

  <section class="cuerpo-empresas">
      <h1>Por que elegirnos</h1>
      <div class="contenido-empresas">
          <div>
              <img id="eleccion1" src="./../../../../assets/imagen/estudiantes/elección1.png" alt="">
          </div>            
          <div class="empresa">
            <p>   El Centro Artesanal UG se enfoca en la artesanía de software única y
              personalizada, lo que lo convierte en la mejor opción para aquellos
              que buscan productos de alta calidad que se adapten a sus necesidades
              específicas.</p>
          </div>           
      </div>
  </section>
  <div class="caja">
    <h1>
      Revisa estas funciones para estar mejor informado de nuestro Centro
      Artesanal
    </h1>
  </div>
  <section class="cuerpo-empresas">
      <h1>Función técnica</h1>
      <div class="contenido-empresas">
          <div class="empresa"> 
              <p> Una razón técnica por la que deberías considerar el Centro Artesanal
                UG es que utilizamos técnicas de producción modernas y avanzadas para
                crear piezas artesanales de alta calidad. Contamos con herramientas y
                maquinarias especializadas que nos permiten producir de manera
                eficiente y precisa, reduciendo los tiempos de producción y aumentando
                la calidad de los productos. Además, nuestros artesanos están
                capacitados en el uso de estas herramientas y técnicas, lo que
                garantiza que cada pieza producida en nuestro centro sea de alta
                calidad y durabilidad.</p>                
          </div>            
          <div >
              <img id="Ftecnica" src="./../../../../assets/imagen/estudiantes/Ftecnica.jpeg" alt="">
          </div>           
      </div>
      <h1>Función comercial</h1>
      <div class="contenido-empresas">
          <div>
              <img id="Fcontrato" src="./../../../assets/imagen/estudiantes/Fcontrato.png" alt="">
          </div>            
          <div class="empresa">
            <p> Una función comercial de nuestro Centro Artesanal UG es que ofrecemos
              productos únicos y personalizados que no se pueden encontrar en otros
              lugares. Nuestros clientes pueden elegir entre una amplia variedad de
              productos artesanales de alta calidad que se adaptan a sus gustos y
              necesidades específicas. Además, nuestro centro cuenta con un equipo
              de ventas altamente capacitado y amigable que ofrece un servicio
              excepcional al cliente. Asimismo, nuestros precios son competitivos y
              justos, lo que hace que nuestros productos sean atractivos y
              accesibles para un amplio público. Estamos comprometidos con la
              satisfacción del cliente y nos esforzamos por ofrecer la mejor
              experiencia de compra posible en nuestro Centro Artesanal UG.</p>
          </div>           
      </div>
      <h1>Función financiera</h1>
      <div class="contenido-empresas">
          <div class="empresa"> 
              <p> Una razón financiera por la que deberías considerar nuestro Centro
                Educativo Artesanal UG es que ofrecemos programas educativos a precios
                competitivos y accesibles. A través de nuestro centro, los estudiantes
                pueden aprender y desarrollar habilidades artesanales sin incurrir en
                los altos costos de una educación tradicional. Además, nuestros
                programas educativos están diseñados para maximizar el retorno de
                inversión de nuestros estudiantes, ya que los capacitamos para que
                puedan desarrollar habilidades y conocimientos altamente valorados en
                el mercado laboral, lo que aumenta sus oportunidades de empleo y sus
                ingresos futuros. En resumen, nuestra educación artesanal ofrece una
                excelente relación calidad-precio para aquellos que desean aprender y
                desarrollar habilidades artesanales de manera efectiva y rentable.</p>                
          </div>            
          <div >
              <img id="Ffinanza" src="./../../../../assets/imagen/estudiantes/Ffinanza.png" alt="">
          </div>           
      </div>
      <h1>Función Administrativa</h1>
      <div class="contenido-empresas">
          <div>
              <img id="Fadministracion" src="./../../../assets/imagen/estudiantes/Fadministracion.png" alt="">
          </div>            
          <div class="empresa">
            <p> Una razón administrativa por la que deberías considerar nuestro Centro
              Educativo Artesanal UG es que contamos con un equipo administrativo
              altamente capacitado y eficiente que se dedica a asegurar el éxito de
              nuestros programas educativos. Nuestro personal administrativo se
              encarga de la gestión de recursos, la planificación de programas y
              actividades, el seguimiento de estudiantes y el desarrollo de
              estrategias para mejorar la calidad de nuestros servicios educativos.
              Además, nuestra administración es altamente receptiva y está siempre
              dispuesta a escuchar y atender las necesidades de nuestros
              estudiantes, lo que nos permite ofrecer un servicio personalizado y
              enfocado en el éxito académico y profesional de nuestros estudiantes.
              En resumen, nuestra eficiente gestión administrativa es una garantía
              de que nuestros programas educativos se desarrollan con éxito y que
              nuestros estudiantes reciben una educación artesanal de alta calidad.</p>
          </div>           
      </div>
  </section>
  <div class="caja4">
    <h4>
      ¿Estás listo para desbloquear todo tu potencial y alcanzar tus metas?
      ¡Inscríbete ahora en nuestra academia y comienza tu camino hacia el éxito!
    </h4>

    <a class="button" aling="right" routerLink="/matricularme" class="button"
      >Matricularme</a
    >
  </div>
</div>