<div class="contenedor-principal">

    <h1>DETALLES DE CALIDAD</h1>

    <div class="contenedor-botones">

        <div (click)="irDimension()" class="boton productos">
            <div class="contenedor-informacion">
                <div class="informacion">
                    <h2>4.3/5</h2>
                    <h3>DIMENSIÓN</h3>
                </div>
                <mat-icon>view_in_ar</mat-icon>
            </div>
            <div class="barra-inferior">ir</div>
        </div>

        <div (click)="irNormasISO()" class="boton productos">
            <div class="contenedor-informacion">
                <div class="informacion">
                    <h2>4/5</h2>
                    <h3>NORMAS ISO</h3>
                </div>
                <mat-icon>language</mat-icon>
            </div>
            <div class="barra-inferior">ir</div>
        </div>

        <div (click)="irGestion()" class="boton productos">
            <div class="contenedor-informacion">
                <div class="informacion">
                    <h2>4/5</h2>
                    <h3>GESTIÓN</h3>
                </div>
                <mat-icon>manage_history</mat-icon>
            </div>
            <div class="barra-inferior">ir</div>
        </div>

        <div (click)="irAseguramiento()" class="boton productos">
            <div class="contenedor-informacion">
                <div class="informacion">
                    <h2>4.2/5</h2>
                    <h3>ASEGURAMIENTO</h3>
                </div>
                <mat-icon>verified_user</mat-icon>
            </div>
            <div class="barra-inferior">ir</div>
        </div>

        <div (click)="irHerramientas()" class="boton productos">
            <div class="contenedor-informacion">
                <div class="informacion">
                    <h2>4.6/5</h2>
                    <h3>HERRAMIENTAS</h3>
                </div>
                <mat-icon>construction</mat-icon>
            </div>
            <div class="barra-inferior">ir</div>
        </div>

    </div>

</div>