<div class="d-flex container">
    <div class="pt-5 text-center align.items.justify-content-center mx-auto text-center ">
        <h1 class="lineaTitulo texto-negrita" style="width: fit-content;">ACTIVIDADES</h1>
    </div>
</div>

<div class="d-flex row justify-content-start pb-3">


    <div class="col-auto">
        <button class="btn btn-primary text-white btn-outline-secondary rounded-0 border-0" id="botonActividad"
            (click)="openAgregar()" type="button">Nueva Actividad</button>

    </div>


</div>


<div class="table-responsive pb-5">
    <table class="table table-hover table-bordered mx-auto">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="col-sm-1"></th>
                <th scope="col" class="col-14">Actividad</th>
                <th scope="col" class="col-1">Envios</th>
                <th scope="col" class="col-1">Vencimiento</th>
                <th scope="col" class="col-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let actividad of actividades; let indice = index">
                <tr>
                    <td scope="row">{{indice+1}}</td>
                    <td>{{actividad.nombre_actividad}}</td>
                    <td>{{actividad.envios}}</td>
                    <td>{{actividad.fechaVencimiento_actividad}}</td>
                    <td>

                        <a type="button" (click)="openInformacion(actividad)" class="mx-2">
                            <mat-icon>remove_red_eye</mat-icon>
                        </a>

                        <a type="button" class="mx-2">
                            <mat-icon>check_box</mat-icon>
                        </a>

                        <a type="button" (click)="openModificar(actividad)" class="mx-2">
                            <mat-icon>edit</mat-icon>
                        </a>

                        <a type="button" (click)="openBorrar(actividad)" class="mx-2">
                            <mat-icon>delete</mat-icon>
                        </a>

                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>