<!-- ENCABEZADO -->
<section id="encabezado">
    <div class="imagen-encabezado"></div>
    <div class="contenido-encabezado">
        <h1>CENTRO DE FORMACIÓN ARTESANAL UG</h1>
        <p>La mejor opción en formación tech!</p>
        <br>
        <br>
        <a class="button"  routerLink="/usuario/registro-usuario" class="button" style="padding: 20px;">REGISTRARME</a>
    </div>
</section>
<div class="contenedor-principal">

    <section class="cuerpo-empresas">
        <h1>SOBRE NOSOTROS</h1>
        <div class="contenido-empresas">
            <div>
                <img src="./../../../assets/imagen/prueba.png" alt="">
            </div>            
            <div class="empresa">
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque enim ea ullam culpa ad, vitae dolore odio ex dolores, tempora magnam quos quis deleniti repellendus ipsa officiis earum pariatur voluptates.</p>
            </div>           
        </div>
    </section>

    <section class="cuerpo-empresas">
        <h1>NUESTRO PROGRAMA</h1>
        <div class="contenido-empresas">
            <div class="empresa"> 
                <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque enim ea ullam culpa ad, vitae dolore odio ex dolores, tempora magnam quos quis deleniti repellendus ipsa officiis earum pariatur voluptates.</p>                
            </div>            
            <div >
                <img src="./../../../../assets/imagen/prueba.png" alt="">
            </div>           
        </div>
        <div class="contenido-empresas">
            <div>
                <img src="./../../../assets/imagen/prueba.png" alt="">
            </div>            
            <div class="empresa">
              <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque enim ea ullam culpa ad, vitae dolore odio ex dolores, tempora magnam quos quis deleniti repellendus ipsa officiis earum pariatur voluptates.</p>
            </div>           
        </div>
    </section>

</div>