<div class="container">

    <h1>MATRICULACIÓN</h1>

    <br><br><br>

  
  <mat-stepper linear #stepper>
      
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Pago</ng-template>
        <div class="pago">
          <form class="formulario">
            <p class="title">DATOS DE TARJETA</p>
            <label for="card-type">Tipo de tarjeta:</label>
            <select id="card-type" name="card-type">
              <option value=""></option>
              <option value="debito">Débito</option>
              <option value="credito">Crédito</option>
            </select>
          
            <label for="card-number">Número de tarjeta:</label>
            <input type="text" id="card-number" name="card-number" placeholder="XXXX-XXXX-XXXX-XXXX">
          
            <label for="card-name">Nombre del titular:</label>
            <input type="text" id="card-name" name="card-name" placeholder="Nombre completo">
          
            <label for="card-expiry">Fecha de vencimiento:</label>
            <input type="month" id="card-expiry" name="card-expiry">
          
            <label for="card-cvv">CVV:</label>
            <input type="text" id="card-cvv" name="card-cvv" placeholder="XXX">
            
          </form>


          <div class="orden">
            <h2 class="title">Orden de pago</h2>
            <table>
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Cantidad</th>
                  <th>Precio </th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Producto 1</td>
                  <td>2</td>
                  <td>$10.00</td>
                  <td>$20.00</td>
                </tr>
               </tbody>
              <tfoot>
                <tr>
                  <td colspan="3">Subtotal:</td>
                  <td>$59.00</td>
                </tr>
                <tr>
                  <td colspan="3">Descuento%:</td>
                  <td>$5.31</td>
                </tr>
                <tr>
                  <td colspan="3">Total:</td>
                  <td>$64.31</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
                       
        <div>
            <button mat-stroked-button >Cancelar</button>
            <button mat-stroked-button matStepperNext color="primary">Siguiente</button>
        </div>
      </form>
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmacion</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  
</div>
