

<div class="container"  >
    <div style="margin: auto; text-align: center;">
      <h1 style="font-weight: bold;"> NUEVO CONTRATO </h1>
    </div>

    <div style="font-size: 14px;  "> 
      <mat-card>
        <form class="formContrato" [formGroup]="formulario">

          <div style="width: 80%;text-align: center; margin: auto;">
              <h2>NOMBRE DEL DOCENTE</h2>
              <br>
              <label> NOMBRAMIENTO </label>
              <br>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button style="margin-left: 16px;" value="1">Si</mat-radio-button>
                <mat-radio-button style="margin-left: 16px;" value="2">No</mat-radio-button>
              </mat-radio-group>
              <br>
              <label> ESPECIALIDAD A FIN </label>
              <br>
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button style="margin-left: 16px;" value="1">Si</mat-radio-button>
                <mat-radio-button style="margin-left: 16px;" value="2">No</mat-radio-button>
              </mat-radio-group>
              <br>

              <mat-form-field appearance="fill" class="campos-field">
                <mat-label>JORNADA:</mat-label>
                <mat-select>
                  <mat-option>Seleccione</mat-option>
                  <mat-option *ngFor="let filtro of filtro" [value]="filtro">{{filtro}}</mat-option>
                </mat-select>
              </mat-form-field>

              <br>
              <mat-form-field appearance="fill" class="campos-field">
                <mat-label>TIPO:</mat-label>
                <mat-select>
                  <mat-option>Seleccione</mat-option>
                  <mat-option *ngFor="let tipo of tipo" [value]="tipo">{{tipo}}</mat-option>
                </mat-select>
              </mat-form-field>

          </div>
          <mat-dialog-actions style="justify-content: center;">
            <button style="background-color: #20BCD1; color: white;" mat-raised-button (click)="enviar()">GUARDAR</button>
            <button style="background-color: white; color: #20BCD1; border: 2px solid #20BCD1;" mat-raised-button (click)="cerrar()">CANCELAR</button>
          </mat-dialog-actions>
        </form>
      </mat-card>
    </div>
</div>
    