<div class="container-fluid px-5 pt-4">
  <h4>
    <b
      >Mis Cursos / {{ curso.nombre_materia }} - {{ curso.nombre_paralelo }} /
      Actividades</b
    >
  </h4>

  <div class="d-flex justify-content-between">
    <div>
      <h1 class="texto-negrita">
        {{ curso.nombre_materia }} - {{ curso.nombre_paralelo }}
      </h1>
    </div>

    <mat-icon
      class="icon-display"
      type="button"
      (click)="mostrarContenido = !mostrarContenido"
      >arrow_drop_down</mat-icon
    >
  </div>

  <div class="px-5">
    <button
      class="btn btn-white btn-lg btn-block d-flex rounded-0 border-2 border-bottom justify-content-end"
      style="width: 100%; cursor: default"
    ></button>
    <div class="contenido mt-0 pt-0" [class.desplegado]="mostrarContenido">
      <button
        type="button"
        class="btn btn-light btn-lg btn-block d-flex rounded-0 border-2 border-bottom align-items-start texto-negrita"
        style="width: 100%"
        (click)="onSelectActividad(1)"
      >
        <span>Actividades</span>
      </button>
      <button
        type="button"
        class="btn btn-white btn-lg btn-block d-flex rounded-0 border-2 border-bottom align-items-start"
        style="width: 100%"
        (click)="onSelectActividad(2)"
      >
        <span>Asistencias</span>
      </button>
      <button
        type="button"
        class="btn btn-white btn-lg btn-block d-flex rounded-0 border-2 border-bottom align-items-start"
        style="width: 100%"
        (click)="onSelectActividad(3)"
      >
        <span>Participantes</span>
      </button>
    </div>
  </div>

  <div class="d-flex row justify-content-start pb-3"></div>

  <div *ngIf="presentarActividadesModel.length != 0 && aparecerComponente == 1">
    <div class="d-flex container">
      <div
        class="pt-5 text-center align.items.justify-content-center mx-auto text-center"
      >
        <h1 style="width: fit-content">ACTIVIDADES</h1>
        <br />
      </div>
    </div>

    <table
      mat-table
      [dataSource]="presentarActividadesModel"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="nombre_actividad">
        <th mat-header-cell *matHeaderCellDef>Actividad</th>
        <td mat-cell *matCellDef="let element">
          {{ element.nombre_actividad }}
        </td>
      </ng-container>

      <ng-container matColumnDef="estado_entrega">
        <th mat-header-cell *matHeaderCellDef>Estado de entrega</th>
        <td mat-cell *matCellDef="let element">{{ element.estado_entrega }}</td>
      </ng-container>

      <ng-container matColumnDef="vencimiento">
        <th mat-header-cell *matHeaderCellDef>Vencimiento</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaVencimiento_actividad }}
        </td>
      </ng-container>

      <ng-container matColumnDef="calificacion">
        <th mat-header-cell *matHeaderCellDef>Calificación</th>
        <td mat-cell *matCellDef="let element">
          {{ element.calificacion_entrega }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      
    </table>
    <br />
  </div>

  <div *ngIf="presentarActividadesModel.length != 0 && aparecerComponente == 2">
    <div class="d-flex container">
      <div
        class="pt-5 text-center align.items.justify-content-center mx-auto text-center"
      >
        <h1 style="width: fit-content">ASISTENCIAS</h1>
        <br />
      </div>
    </div>
    <app-asistencias></app-asistencias>
    <br />
  </div>
</div>
