<section class="cuerpo-empresas">
  <h1>REGISTRO DE USUARIO</h1>


  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Credenciales</ng-template>
        <br><br>

        <div class="Registro">

          <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usuario" placeholder="Usuario" required>

          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="contrasena" type="password" placeholder="Contraseña" required>
            <mat-error *ngIf="firstFormGroup.controls['contrasena'].hasError('required')">Contraseña es
              requerida.</mat-error>
            <mat-error *ngIf="firstFormGroup.controls['contrasena'].hasError('minlength')">Contraseña debe tener minimo
              8
            </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['contrasena'].hasError('maxlength')">Contraseña debe tener máximo
              10
              caracteres.</mat-error>


          </mat-form-field>

          <br>
          <mat-form-field appearance="fill">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput formControlName="conf" placeholder="Confirmarcontraseña" required type="password">
            <mat-error *ngIf="firstFormGroup.controls['conf'].hasError('required')">Contraseña es requerida.</mat-error>
            <mat-error *ngIf="firstFormGroup.controls['conf'].hasError('minlength')">Contraseña debe tener minimo 8
            </mat-error>
            <mat-error *ngIf="firstFormGroup.controls['conf'].hasError('maxlength')">Contraseña debe tener máximo 10
              caracteres.</mat-error>


          </mat-form-field>





        <div>
          <button mat-button matStepperNext>Continuar</button>
          <button mat-button (click)="volver()">Cancelar</button>

        </div>
        </div>

      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Rol</ng-template>


      <div class="contenedor">
        <div class="estudiante" (click)="estudiante() ">
          <img src="./../../../../assets/imagen/estudiante-blanco.png" alt="Estudiante" width="230" height="250">
          <p>Estudiante</p>
        </div>
        <div class="docente" (click)="docente()">
          <img src="./../../../../assets/imagen/docente-blanco.png" alt="Profesor" width="230" height="250">
          <p>Docente</p>
        </div>

      </div>

      <div>
        <button mat-button matStepperPrevious class="botones">Regresar</button>
        <button mat-button matStepperNext class="botones">Continuar</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Datos Personales</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>


</section>