*:before,
*:after {
    box-sizing: inherit;
}

* {
    box-sizing: inherit;
}

h1,
p,
a {
    line-height: normal;
    text-align: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25pt;
    margin-bottom: 5px;
    position: relative;
    padding-bottom: 20px;
}

h1:before {
    content: "";
    position: absolute;
    width: 36%;
    bottom: 0;
    left: 32%;
    right: 32%;
    border-bottom: #85e3f0 solid 5px;
}

.contenido {
    display: none;
    transition: all 0.3s ease;
}

.desplegado {
    display: block;
    margin-top: 10px;
}

.desplegado2 {
    border: 0px;
}


#botonActividad {
    background-color: #20BCD1;
}

#botonActividad:hover {
    background-color: #1c9cad;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}

th{
    background-color: #192A51 !important;
    color: white;
    text-align: center;
  
  
  }
  
  tr:nth-child(even) td {
      background-color: #f2f2f2; /* Color de fondo gris */
    }
    table td, table th {
        text-align: center;
        border: 1px solid #ddd;
        padding: 8px;
        margin: 0 auto;
    }
.texto-negrita {
    font-weight: bold;
}

.icon-display {
    font-size: 40px;
    height: 40px;
    width: 40px;
}
.mat-elevation-z8 {  
    flex-direction: column;  
    border-right: 1px solid currentColor;
    border-left: 1px solid currentColor;
    text-align: center;
    width: 500px;
    margin-right: 300px;
  }
  .cuerpo-empresas {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  
  .contenido-empresas {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;    
    width: 100%;
  }
  .empresa {  
    width: 500px;  
    height: 300px;  
    margin: auto;
    padding: 20px;  
    position: relative;
    overflow: hidden;    
    height: 50%;
    text-align: center;
  }


  .formgroup{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300%;
}

.selectornombre{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}