th {
    background-color: #192A51 !important;
    color: white;
    text-align: center;
    font-weight: 500;
}
td{
    text-align: center
}
table {
    width: 70%;    
  }

  h1{
    text-align: center;
    font-weight: bold;
    font-size: 25pt;
    margin-top: 5px;
  }