<div>
    <div style="width: 80%; margin: auto; text-align: center;">
      <h1> PAGOS </h1>
    </div>
    <mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Filtrar por:</mat-label>
        <mat-select>
          <mat-option>Seleccione</mat-option>
          <mat-option *ngFor="let filtro of filtro" [value]="filtro">{{filtro}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Opciones:</mat-label>
        <mat-select>
          <mat-option>Seleccione</mat-option>
          <mat-option *ngFor="let opciones of opciones" [value]="opciones">{{opciones}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <div>
        <table mat-table [dataSource]="datosPagoDocentes" class="mat-elevation-z8">
  
          <!-- Position Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_pagoDocente}} </td>
          </ng-container>
  
           <!-- Symbol Column -->
           <ng-container matColumnDef="sueldo">
            <th mat-header-cell *matHeaderCellDef> Sueldo </th>
            <td mat-cell *matCellDef="let element"> {{element.total_pagoDocente}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="faltas">
              <th mat-header-cell *matHeaderCellDef> Faltas </th>
              <td mat-cell *matCellDef="let element"> {{element.faltas_pagoDocente}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="descuento">
              <th mat-header-cell *matHeaderCellDef> Descuento </th>
              <td mat-cell *matCellDef="let element"> {{element.descuento_pagoDocente}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> Total </th>
            <td mat-cell *matCellDef="let element"> {{element.total_pagoDocente}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef> Cedula </th>
            <td mat-cell *matCellDef="let element"> *Cedula Docente </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="nombreCompleto">
            <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
            <td mat-cell *matCellDef="let element"> *Nombre Completo Docente </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </div>
      
  
    </mat-dialog-content>
    <mat-dialog-actions>
      <button style="background-color: #20BCD1; color: white;" mat-button (click)="cerrar()">CERRAR</button>
    </mat-dialog-actions>
  </div>
