header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav a {
    color: #fff;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
  }

  nav a:hover {
    background-color: white; color:black; padding: 10px; font-weight: bold;
  }

  #ingresar{
    background-color: white; color:black; padding: 10px; font-weight: bold;
  }

  #ingresar:hover{
    background-color: rgb(81, 255, 0); color:black; padding: 10px; font-weight: bold;
  }
