<div class="banner">
    <div class="banner-text">
        <h1 class="mb-4">DOCENTES</h1>
        <h2 class="mb-4">Forma parte de nuestro prestigioso Centro <br>de Formación!</h2>
        <button type="submit" id="botonGuardar" class="btn btn-primary mx-1 rounded-0" type="submit"
        form="addUserForm">Quiero ser docente</button>
    </div>
</div>
<div class="container pt-5">
    <div class="row">
      <div class="col text-center">
        <div class="contenido-empresas d-flex justify-content-center">
          <div class="d-flex align-items-center">
            <img src="./../../../assets/imagen/prueba.png" alt="">
            <div class="empresa w-50">
              <h4>Al elegir estudiar en nuestra Universidad, estarás preparándote para un futuro exitoso en el mundo digital.</h4>
            </div>
          </div>
        </div>
    
        <div class="contenido-empresas d-flex justify-content-center">
          <div class="d-flex align-items-center">
            <div class="empresa order-1 w-50">
              <h4>Al elegir estudiar en nuestra Universidad, estarás preparándote para un futuro exitoso en el mundo digital.</h4>
            </div>
            <img src="./../../../assets/imagen/prueba.png" alt="" class="order-2">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid py-5 my-5" style="background-color: #0F1A2C;">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4 class="lead text-white">Si estas interesado en unirte a nuestra Universidad, haz clic en el botón de registro ¡Esperamos contar contigo pronto!</h4>
        </div>
        <div class="col-md-4 text-right">
            <button type="submit" id="botonGuardar" class="btn btn-primary mx-1 rounded-0" type="submit"
            form="addUserForm">Quiero ser docente</button>
        </div>
      </div>
    </div>
  </div>