<div class="banner">
  <div class="banner-text">
    <h1 class="mb-4">DOCENTES</h1>
    <h2 class="mb-4">
      Forma parte de nuestro prestigioso Centro <br />de Formación!
    </h2>
    <button
      type="submit"
      id="botonGuardar"
      class="btn btn-primary mx-1 rounded-0"
      type="submit"
      form="addUserForm"
    >
      Quiero ser docente
    </button>
  </div>
</div>
<div class="container pt-5">
  <div class="row">
    <div class="col text-center mx-5">
      <h1>POR QUE SER DOCENTE</h1>
      <section class="cuerpo-empresas">
        <div class="contenido-empresas">
          <div>
            <img
              src="./../../../assets/imagen/docentes/desarrolloHabilidades.png"
              alt=""
            />
          </div>
          <div class="empresa">
            <h4>
              Contribuir al desarrollo de habilidades: Como docente, tendrás la
              oportunidad de ayudar a los estudiantes a desarrollar habilidades
              técnicas y creativas en el campo del software. Al transmitir tus
              conocimientos, estarás contribuyendo al crecimiento y desarrollo
              de futuros profesionales.
            </h4>
          </div>
        </div>
      </section>
      <section class="cuerpo-empresas">
        <div class="contenido-empresas">
          <div class="empresa">
            <h4>
              Aprender de los estudiantes: En un centro artesanal de software,
              es probable que los estudiantes tengan una perspectiva fresca e
              innovadora sobre el mundo de la tecnología. Al trabajar con ellos,
              podrás aprender nuevas ideas y enfoques que podrían inspirarte en
              tu propia práctica.
            </h4>
          </div>
          <div>
            <img
              src="./../../../assets/imagen/docentes/Aprendeestudiantes.jpeg"
              alt=""
              class="order-2"
            />
          </div>
        </div>
      </section>
      <section class="cuerpo-empresas">
        <div class="contenido-empresas">
          <div class="d-flex align-items-center">
            <img
              src="./../../../assets/imagen/docentes/Flexibilidad.png"
              alt=""
            />
          </div>
          <div class="empresa">
            <h4>
              Flexibilidad: Como docente de un centro artesanal de software, es
              posible que tengas más flexibilidad para diseñar tus propios
              planes de estudio y enfocarte en las áreas que más te interesen.
              Esto puede permitirte trabajar en proyectos que te apasionen y que
              te permitan explorar nuevas tecnologías.
            </h4>
          </div>
        </div>
      </section>
      <section class="cuerpo-empresas">
        <div class="contenido-empresas">
          <div class="empresa">
            <h4>
              Ambiente creativo: Un centro artesanal de software es un ambiente
              creativo e innovador en el que los estudiantes y profesionales
              están en constante búsqueda de soluciones creativas y efectivas.
              Esto puede ser inspirador y motivador, y puede fomentar tu propia
              creatividad y pensamiento crítico.
            </h4>
          </div>
          <div>
            <img
              src="./../../../assets/imagen/docentes/creativo.png"
              alt=""
              class="order-2"
            />
          </div>
        </div>
      </section>
      <section class="cuerpo-empresas">
        <div class="contenido-empresas">
          <div>
            <img
              src="./../../../assets/imagen/docentes/Contribuirtecnología.jpeg"
              alt=""
            />
          </div>
          <div class="empresa">
            <h4>
              Contribuir al futuro de la tecnología: Al enseñar a estudiantes de
              un centro artesanal de software, estás contribuyendo al desarrollo
              y crecimiento de la industria de la tecnología. Estos estudiantes
              pueden convertirse en líderes y profesionales en el campo, y tu
              contribución como docente puede marcar una gran diferencia en sus
              carreras y en el futuro de la tecnología en general.
            </h4>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<br />
<div
  class="jumbotron jumbotron-fluid py-5 my-5"
  style="background-color: #0f1a2c"
>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4 class="lead text-white">
          Si estas interesado en unirte a nuestra Universidad, haz clic en el
          botón de registro ¡Esperamos contar contigo pronto!
        </h4>
      </div>
      <div class="col-md-4 text-right">
        <button
          type="submit"
          id="botonGuardar"
          class="btn btn-primary mx-1 rounded-0"
          type="submit"
          form="addUserForm"
        >
          Quiero ser docente
        </button>
      </div>
    </div>
  </div>
</div>
