<div class="container">
 
    <mat-dialog-content>
  
        <div class="contenidoDocente">
            <div>
                <h1>NOMBRES COMPLETOS DEL DOCENTE</h1>
            </div>
        
            <div class="vdc" >
                <h1>VISTA DOCENTE - CUENTA</h1>
            </div>
        
            <div class="vdh">
                <h1>VISTA DOCENTE - MI HORARIO</h1>
            </div>
        
              <mat-form-field appearance="fill" style="width: 100%;text-align: center; margin: auto;">
                <mat-label>EVALUACION DOCENTE: 81%</mat-label>
                <mat-select>
                  <mat-option value="one">Opcion 1</mat-option>
                  <mat-option value="two">Opcion 2</mat-option>
                </mat-select>
              </mat-form-field>
        
              <div>
        </div>
      
        <table mat-table [dataSource]="datosMateriasDocente" class="mat-elevation-z8">
  
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id_materia}} </td>
          </ng-container>
  
           <!-- Symbol Column -->
           <ng-container matColumnDef="materia">
            <th mat-header-cell *matHeaderCellDef> Materia </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_materia}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="paralelo">
              <th mat-header-cell *matHeaderCellDef> Paralelo </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre_paralelo}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="modulo">
              <th mat-header-cell *matHeaderCellDef> Modulo </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre_modulo}} </td>
          </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="calificacion">
            <th mat-header-cell *matHeaderCellDef> Calificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.promedio_evaluacion}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions>
      <button style="background-color: #20BCD1; color: white;" mat-button (click)="cerrar()">CERRAR</button>
    </mat-dialog-actions>
</div>
