<div class="container">
    <div class="container rounded bg-white mt-2 mb-2">

        <div class="contenido-encabezado">
            <section class="cuerpo-titulo">
            <h1>ESTUDIANTES</h1>
            </section>
        </div>
    </div>
</div>
<div class="contenido-tabla">

    <mat-form-field appearance="fill">
        <mat-label>Filtrar por:</mat-label>
        <mat-select>
          <mat-option>Seleccione</mat-option>
          <mat-option *ngFor="let filtro of filtro" [value]="filtro">{{filtro}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Opciones:</mat-label>
        <mat-select>
          <mat-option>Seleccione</mat-option>
          <mat-option *ngFor="let opciones of opciones" [value]="opciones">{{opciones}}</mat-option>
        </mat-select>
      </mat-form-field>

    <table mat-table [dataSource]="datosEstudiantes" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id_estudiante}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="cedula">
          <th mat-header-cell *matHeaderCellDef> Cedula </th>
          <td mat-cell *matCellDef="let element"> {{element.cedula_estudiante}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="nombreCompleto">
          <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
          <td mat-cell *matCellDef="let element"> {{element.nombresCompletos_estudiante}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="ciclo">
          <th mat-header-cell *matHeaderCellDef> Ciclo </th>
          <td mat-cell *matCellDef="let element"> {{element.ultimo_ciclo}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="medioDifusion">
            <th mat-header-cell *matHeaderCellDef> Medio de Difusión </th>
            <td mat-cell *matCellDef="let element"> {{element.medio_estudiante}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element"> 
                <mat-icon (click)="verMateriasEstudiante(element.id_estudiante)" matTooltip="Ver" class="view" fontIcon="visibility"> </mat-icon>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr *matNoDataRow>
          <td style="padding: 20px;" class="td-notFound" [attr.colspan]="displayedColumns.length">
            No se encontraron resultados.
          </td>
        </tr>
    </table>
</div>

