<div class="modal-body">
    <div class="text-center pt-4">
        <h1 class="modal-title font-weight-bold">NUEVA ACTIVIDAD</h1>
    </div>



    <form id="addUserForm" [formGroup]="actividaForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group pb-2 mx-5">
            <label for="nombre" class="form-label mt-3">Nombre</label>
            <input type="nombre" class="form-control rounded-0" id="nombre" formControlName="nombre">

        </div>

        <div class="form-group pb-2 mx-5">
            <label for="apellidos" class="form-label mt-3">Descripción</label>
            <input type="apellidos" class="form-control rounded-0" id="apellidos" formControlName="apellidos">

        </div>

        <div class="form-group pb-2 mx-5">
            <label for="email" class="form-label mt-3">Fecha de Vencimiento</label>
            <mat-form-field class="mat-form-field">
                <input matInput [matDatepicker]="myDatepicker" class="form-control" id="myDatepicker">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </mat-form-field>

        </div>

        <div class="form-group pb-2 mx-5">
            <label for="email" class="form-label mt-3">Tipo de Actividad</label>
            <select class="form-select rounded-0">
                <option selected>Seleccionar</option>
                <option value="Tarea">Tarea</option>
                <option value="Examen final">Examen final</option>
                <option value="Examen de recuperación">Examen de recuperación</option>
            </select>
        </div>

        <div class="form-group pb-2 mx-5">
            <label for="email" class="form-label mt-3">Tipo de Archivo</label>
            <select class="form-select rounded-0">
                <option selected>Seleccionar</option>
                <option value=".txt">Archivo de texto (.txt)</option>
                <option value=".docx">Word (.docx)</option>
                <option value=".pdf">Documento PDF (.pdf)</option>
                <option value=".ppt">PowerPoint (.ppt)</option>
                <option value=".png">Imagen (.png)</option>
                <option value=".jpg">Imagen (.jpg)</option>
            </select>
        </div>

        <div class="form-check py-2 mx-5">
            <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" #rol>
            <label class="form-check-label" for="flexCheckDefault">
                Activa
            </label>
        </div>


        <div class="d-flex justify-content-center pt-4 pb-2">
            <button type="submit" id="botonGuardar" class="btn btn-primary mx-1 rounded-0" type="submit"
                form="addUserForm">Guardar</button>
            <button type="submit" id="botonCancelar" class="btn btn-outline-primary mx-1  rounded-0" type="submit"
                form="addUserForm">Cancelar</button>
        </div>
    </form>
</div>