<div class ="container">

  <br><br>

    <h1>MI HORARIO</h1>
    
    
      <table class="mat-elevation-z8">
        <thead>
          <tr>
            <th>Materia </th>
            <th>Modulo</th>
            <th>Paralelo</th>
            <th>Docente</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>

          </tr>
        </thead>
        <tbody>
    
          
          
          <tr>
            <td>Base de datos</td>
            <td> 2</td>
            <td> 2-2</td>
            <td> Juana Maria Perez Lopez</td>
            <td> 2-2</td>
            <td> 2-2</td>
            <td> 2-2</td>
            <td> 2-2</td>
            <td> 2-2</td>
            <td> 2-2</td>
            <td> 2-2</td>



          </tr>
          <tr>
            <td>Base de datos</td>
            <td> 2</td>
            <td> 2-2</td>
            <td> Juana Maria Perez Lopez</td>
            <td> 2-2</td>
            <td> 2-2</td>
            <td> 2-2</td>
            <td> 2-2</td>
            <td> 2-2</td>
            <td> 2-2</td>
            <td> 2-2</td>



            <tr>
                <td>Base de datos</td>
                <td> 2</td>
                <td> 2-2</td>
                <td> Juana Maria Perez Lopez</td>
                <td> 2-2</td>
                <td> 2-2</td>
                <td> 2-2</td>
                <td> 2-2</td>
                <td> 2-2</td>
                <td> 2-2</td>
                <td> 2-2</td>
    
    
    
              </tr>
             
              <tr>

         
           </tbody>
      </table>
    
</div>
      
      