<div class="container">
    <div class="container rounded bg-white mt-2 mb-2">

        <div class="contenido-encabezado">
            <section class="cuerpo-titulo">
            <h1>ADMINISTRACIÓN</h1>
            </section>
        </div>

        <div class="contenido-central">
            
                <div class="central-izq">
                    <div class="central-izq-up">
                        <div>
                            <h1>14</h1>
                            <h3>DOCENTES</h3>
                            <p>CICLO ACTUAL</p>
                        </div>
                        <div>
                            <img width="100px" height="100px" src="./../../../assets/imagen/docente-blanco.png" alt="iconoDocente">
                        </div>
                    </div>
                    <div class="central-izq-dwn">
                        <div>
                            <h1>567</h1>
                            <h3>ESTUDIANTES</h3>
                            <p>CICLO ACTUAL</p>
                        </div>
                        <div>
                            <img width="100px" height="100px" src="./../../../assets/imagen/estudiante-blanco.png" alt="iconoEstudiante">
                        </div>
                    </div>
                </div>
                <div class="central-der">
                    <div class="central-der-up">
                        <div>
                            <h1> 5 </h1>
                            <h4> Nombre 1 Nombre 2 </h4>
                            <h4> Apellido 1 Apellido 2 </h4>
                        </div>
                        <div>
                            <h1> 5 </h1>
                            <h4> Nombre 1 Nombre 2 </h4>
                            <h4> Apellido 1 Apellido 2 </h4>
                        </div>
                    </div>
                    <div class="central-der-dwn">
                        <div>
                            <h1> 10 </h1>
                            <h4> Nombre 1 Nombre 2 </h4>
                            <h4> Apellido 1 Apellido 2 </h4>
                        </div>
                        <div>
                            <h1> 10 </h1>
                            <h4> Nombre 1 Nombre 2 </h4>
                            <h4> Apellido 1 Apellido 2 </h4>
                        </div>
                        <div>
                            <h1> 10 </h1>
                            <h4> Nombre 1 Nombre 2 </h4>
                            <h4> Apellido 1 Apellido 2 </h4>
                        </div>
                    </div>
                </div>
            
        </div>
        
      </div>
      


  