<div class="container">
  <div class="d-flex container">
    <div
      class="pt-5 text-center align.items.justify-content-center mx-auto text-center"
    >
      <h1 style="width: fit-content">TIPO DE ACTIVIDAD</h1>
      <br />
    </div>
  </div>
  <h2>NOMBRE DE LA ACTIVIDAD</h2>
  <h3>Publicado</h3>
  <h3>Vencimiento</h3>
  <hr />
  <h3>Descripción</h3>
  <hr />
  <div class="container-fluid">
    <div class="row">
      <table class="table table-hover table-bordered px-auto">
        <thead class="table">
          <tr>
            <th scope="col" class="col-md-2">ENTREGA</th>
          </tr>
        </thead>
        <tbody>
          <ng-container>
            <tr>
              <td>Estado</td>
              <td>actividad.estado</td>
            </tr>
            <tr>
              <td>Calificación</td>
              <td>actividad.calificación</td>
            </tr>
            <tr>
              <td>Archivo</td>
              <td>actividad.archivo</td>
            </tr>
            <tr>
              <td>Ultima modificación</td>
              <td>actividad.ultimaModificacion</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="container-fluid d-flex justify-content-center">
      <button>Editar Entrega</button>
    </div>
  </div>
</div>
<br /><br />
