th {
    background-color: #192A51 !important;
    color: white;
    text-align: center;
    font-weight: 500;
}
td{
    text-align: center
}
.vdc{
    background-color: #F0F0F0;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
}
.vdh{
    background-color: #F0F0F0;
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.contenidoEstudiante{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.pagos {
    margin-top: 60px;
    font-weight: bold;
    padding: 20px;
    border-radius: 0px;
    height: 56px;
}