<div class="container">
  <div class="container rounded bg-white mt-2 mb-2">
    <div class="contenido-encabezado">
      <section class="cuerpo-titulo">
        <h1>ACTA DE CALIFICACIONES</h1>
      </section>
    </div>
    <br><br>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
      <ng-container matColumnDef="materia">
        <th mat-header-cell *matHeaderCellDef>Materia</th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_materia}} </td>
      </ng-container>
      <ng-container matColumnDef="modulo">
        <th mat-header-cell *matHeaderCellDef>Modulo</th>
        <td mat-cell *matCellDef="let element"> {{element.modulo}} </td>
      </ng-container>
      <ng-container matColumnDef="paralelo">
        <th mat-header-cell *matHeaderCellDef>Paralelo</th>
        <td mat-cell *matCellDef="let element"> {{element.paralelo}} </td>
      </ng-container>
      <ng-container matColumnDef="pcalificaciones">
        <th mat-header-cell *matHeaderCellDef>Promedio de calificaciones</th>
        <td mat-cell *matCellDef="let element"> {{element.promedioCalificaciones}} </td>
      </ng-container>
      <ng-container matColumnDef="pasistencias">
        <th mat-header-cell *matHeaderCellDef>Promedio de asistencias</th>
        <td mat-cell *matCellDef="let element"> {{element.promedioAsistencias}} </td>
      </ng-container>
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
<br><br><br>