.card-img {
    object-fit: cover;
}

.card {
    max-width: 450px;
    min-width: 450px;
    max-height: 260px;
    min-height: 260px;
    background: #323D4F;
    

}

.card-footer {
    background: #20BCD1;
    background-color: #20BCD1;
    max-height: 20px;
    min-height: 20px;
}

.container {
    max-width: 100%;
 }

.card-image {
    width: 100%;
    height: 100%;
}

.textoTarjeta {
    text-shadow: 2px 2px #000000;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    
}

.lineaTitulo {
    font-weight: bold;
    padding-bottom: value;
    border-bottom-style: solid;
    border-bottom-color: #20BCD1;
    border-bottom-width: 5px;
}


.centrado {
    position: absolute;
    top: calc(50% - 40px);
    left: 0;
    text-align: center;
    width: 100%;
}
