<div class ="container">

  

<h1>EVALUACIÓN DOCENTE</h1>
<div class="select">
  <mat-form-field appearance="fill">
    <mat-label>Curso</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>Seleccione una opción</mat-option>
      <mat-option value="option1">Materia-Paralelo</mat-option>
      <mat-option value="option2">Materia-Paralelo</mat-option>
      <mat-option value="option3">Materia-Paralelo</mat-option>
      <mat-option value="option4">Materia-Paralelo</mat-option>

    </mat-select>
  </mat-form-field>

  <p class="nombreDocente">Docente: </p>

  
  </div>


  <table class="mat-elevation-z8">
    <thead>
      <tr>
        <th>No. </th>
        <th>Criterio </th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
      </tr>
    </thead>
    <tbody>

      
      
      <tr>
        <td>1</td>
        <td>Al inicio del curso, explica con claridad las políticas, contenidos y objetivos del aprendizaje del curso.</td>
        <td><mat-radio-button value="muybajo"></mat-radio-button></td>
        <td><mat-radio-button value="bajo"></mat-radio-button></td>
        <td><mat-radio-button value="medio"></mat-radio-button></td>
        <td><mat-radio-button value="alto"></mat-radio-button></td>
        <td><mat-radio-button value="muyalto"></mat-radio-button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Resume las ideas fundamentales discutidas, antes de pasar a una nueva unidad o tema.</td>
        <td><mat-radio-button value="muybajo"></mat-radio-button></td>
        <td><mat-radio-button value="bajo"></mat-radio-button></td>
        <td><mat-radio-button value="medio"></mat-radio-button></td>
        <td><mat-radio-button value="alto"></mat-radio-button></td>
        <td><mat-radio-button value="muyalto"></mat-radio-button></td>
      </tr>
      <tr>
        <td>3</td>
        <td>Tiene predisposición para absolver las dudas de los estudiantes dentro y fuera del horario de clase.</td>
        <td><mat-radio-button value="muybajo"></mat-radio-button></td>
        <td><mat-radio-button value="bajo"></mat-radio-button></td>
        <td><mat-radio-button value="medio"></mat-radio-button></td>
        <td><mat-radio-button value="alto"></mat-radio-button></td>
        <td><mat-radio-button value="muyalto"></mat-radio-button></td>
      </tr>
      <tr>
        <td>4</td>
        <td>Desarrolla el contenido de la materia de forma ordenada y comprensible.</td>
        <td><mat-radio-button value="muybajo"></mat-radio-button></td>
        <td><mat-radio-button value="bajo"></mat-radio-button></td>
        <td><mat-radio-button value="medio"></mat-radio-button></td>
        <td><mat-radio-button value="alto"></mat-radio-button></td>
        <td><mat-radio-button value="muyalto"></mat-radio-button></td>
      </tr>
      <tr>
        <td>5</td>
        <td>Cumple con todos los temas y contenidos presentados en el programa al inicio del curso.</td>
        <td><mat-radio-button value="muybajo"></mat-radio-button></td>
        <td><mat-radio-button value="bajo"></mat-radio-button></td>
        <td><mat-radio-button value="medio"></mat-radio-button></td>
        <td><mat-radio-button value="alto"></mat-radio-button></td>
        <td><mat-radio-button value="muyalto"></mat-radio-button></td>
      </tr>

      <tr>
        <td>6</td>
        <td>Estimula la participación activa del estudiante en clase y motiva la investigación bibliográfica.</td>
        <td><mat-radio-button value="muybajo"></mat-radio-button></td>
        <td><mat-radio-button value="bajo"></mat-radio-button></td>
        <td><mat-radio-button value="medio"></mat-radio-button></td>
        <td><mat-radio-button value="alto"></mat-radio-button></td>
        <td><mat-radio-button value="muyalto"></mat-radio-button></td>
      </tr>


      <tr>
        <td>7</td>
        <td>Desarrolla actividades que fomentan el aprendizaje autónomo y colaborativo de los estudiantes.</td>
        <td><mat-radio-button value="muybajo"></mat-radio-button></td>
        <td><mat-radio-button value="bajo"></mat-radio-button></td>
        <td><mat-radio-button value="medio"></mat-radio-button></td>
        <td><mat-radio-button value="alto"></mat-radio-button></td>
        <td><mat-radio-button value="muyalto"></mat-radio-button></td>
      </tr>


      <tr>
        <td>8</td>
        <td>Explica claramente los criterios que utiliza para la evaluación del aprendizaje.</td>
        <td><mat-radio-button value="muybajo"></mat-radio-button></td>
        <td><mat-radio-button value="bajo"></mat-radio-button></td>
        <td><mat-radio-button value="medio"></mat-radio-button></td>
        <td><mat-radio-button value="alto"></mat-radio-button></td>
        <td><mat-radio-button value="muyalto"></mat-radio-button></td>
      </tr>



      <tr>
        <td>9</td>
        <td>Asiste con puntualidad a las actividades académicas.</td>
        <td><mat-radio-button value="muybajo"></mat-radio-button></td>
        <td><mat-radio-button value="bajo"></mat-radio-button></td>
        <td><mat-radio-button value="medio"></mat-radio-button></td>
        <td><mat-radio-button value="alto"></mat-radio-button></td>
        <td><mat-radio-button value="muyalto"></mat-radio-button></td>
      </tr>



      <tr>
        <td>10</td>
        <td>Promueve las relaciones de cordialidad y respeto con y entre los estudiantes.</td>
        <td><mat-radio-button value="muybajo"></mat-radio-button></td>
        <td><mat-radio-button value="bajo"></mat-radio-button></td>
        <td><mat-radio-button value="medio"></mat-radio-button></td>
        <td><mat-radio-button value="alto"></mat-radio-button></td>
        <td><mat-radio-button value="muyalto"></mat-radio-button></td>
      </tr>

    </tbody>
  </table>

  <section>
    <div class="example-button-row">
      <button mat-stroked-button color="primary">Guardar</button>
      <button mat-stroked-button color="primary">Cancelar</button>

    </div>
  </section>
  
  