<div class="header2">
  <div class="header">
    <h1 style="padding: 0 0 0 0;">Centro de Formación Artesanal UG</h1>
  </div>
  <div class="header">
    <hr>
  </div>    
    <div class="contenedor-menu">
      <div class="pages">
        <nav>
          <ul class="ul">
            <li><a routerLink="/home" routerLinkActive="activeLink">Inicio</a></li>
            <li><a routerLink="/docente" routerLinkActive="activeLink">Docentes</a>
              <ul class="no-estilo">
                <li><a href="/docente/horario" class="li">Mi horario</a></li>
                <li><a href="/docente/cursos" class="li">Mis cursos</a></li>
                <li><a href="/docente/acta-calificaciones" >Acta de calificaciones</a></li>                                                
              </ul>
            </li>                    
            
            <li><a routerLink="/estudiante" routerLinkActive="activeLink">Estudiantes</a>
              <ul class="no-estilo">
                <li><a href="/estudiante/horario" class="li">Mi horario</a></li>
                <li><a href="/estudiante/cursos" class="li">Mis cursos</a></li>
                <li><a href="/estudiante/acta-calificaciones" class="li">Acta de calificaciones</a></li>                                                
                <li><a href="/estudiante/evaluacion-docente">Evaluación docente</a></li>                                                
              </ul>
            </li>
            <li><a routerLink="/calidad" routerLinkActive="activeLink">Calidad</a>
              <ul class="no-estilo">
                <li><a href="/calidad/dimension" class="li">Dimensión</a></li>
                <li><a href="/calidad/normas-iso" class="li">Normas ISO</a></li>
                <li><a href="/calidad/gestion" class="li">Gestión</a></li>                                                
                <li><a href="/calidad/aseguramiento" class="li">Aseguramiento</a></li>   
                <li><a href="/calidad/aseguramiento">Herramientas</a></li>                                                
              </ul>
            </li>
          </ul>          
        </nav>
      </div>
      <div class="login">
        <nav>       
          <ul>
            <a routerLink="/username" routerLinkActive="activeLink">Username
              <i class="fa-solid fa-user-check"></i>
              <img src="./../../../assets/imagen/perfil.png" alt="" width="25px" height="25px" style="position: relative; top: 3px;">
              <ul class="no-estilo-2">
                <li><a href="#" class="li">Mi cuenta</a></li>
                <li><a href="#" class="li">Cerrar Sesion</a></li>                                                              
              </ul>
            </a>                      
          </ul>
        </nav>
      </div>
    </div>
    
  </div>
  <br>

  <!-- <div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [ngClass]="{'highlight': isHover}">
    Contenido del elemento
  </div> -->