<div class="fondoNavBar">
  <div class="navbar border-bottom">
    <a class="navbar-brand my-0" href="#">Centro de Formación Artesanal UG</a>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  justify-content-between mx-3" id="navbarNav">
    <div>
      <ul class="navbar-nav">

        <li class="nav-item p-2 px-3">
          <a class="nav-link" routerLink="/home" routerLinkActive="activeLink">Inicio</a>
        </li>
        <li class="nav-item dropdown p-2 px-3" >
          <a class="nav-link dropdown-toggle" (click)="irDocente()" id="docentesDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Docentes
          </a>
          <div class="dropdown-menu" aria-labelledby="docentesDropdown" *ngIf="rol === '2'">
            <a class="dropdown-item bordeMenu" (click)="irDocenteHorario()">Mi horario</a>
            <a class="dropdown-item bordeMenu" (click)="irDocenteCursos()">Mis cursos</a>
            <a class="dropdown-item" (click)="irDocenteActa()">Acta de calificaciones</a>
          </div>
        </li>
        <li class="nav-item dropdown p-2 px-3" >
          <a class="nav-link dropdown-toggle" (click)="irEstudiante()" id="estudiantesDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Estudiantes
          </a>
          <div class="dropdown-menu" aria-labelledby="estudiantesDropdown" *ngIf="rol === '1'">
            <a class="dropdown-item bordeMenu" (click)="irEstudianteHorario()">Mi horario</a>
            <a class="dropdown-item bordeMenu" (click)="irEstudianteCursos()">Mis cursos</a>
            <a class="dropdown-item bordeMenu" (click)="irEstudianteActa()">Acta de calificaciones</a>
            <a class="dropdown-item" (click)="irEstudianteEvaluacionDocente()">Evaluación docente</a>
          </div>
        </li>
        <li class="nav-item dropdown p-2 px-3">
          <a class="nav-link dropdown-toggle" (click)="irCalidad()" id="calidadDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Calidad
          </a>
          <div class="dropdown-menu " aria-labelledby="calidadDropdown">
            <a class="dropdown-item bordeMenu" (click)="irCalidadDimension()">Dimensión</a>
            <a class="dropdown-item bordeMenu" (click)="irCalidadNormas()">Normas ISO</a>
            <a class="dropdown-item bordeMenu" (click)="irCalidadGestion()">Gestión</a>
            <a class="dropdown-item bordeMenu" (click)="irCalidadAseguramiento()">Aseguramiento</a>
            <a class="dropdown-item" (click)="irCalidadherramientas()">Herramientas</a>
          </div>
        </li>
        <li class="nav-item dropdown p-2 px-3" *ngIf="rol === '3'">
          <a class="nav-link dropdown-toggle" (click)="irAdmin()" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Administración
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item bordeMenu" (click)="irAdminEstudiante()">Estudiante</a>
            <a class="dropdown-item" (click)="irAdminDocente()">Docente</a>
          </div>
        </li>
      </ul>

    </div>

    <div>
      <ul class="navbar-nav">
        <li *ngIf="!active" class="nav-item p-2">
          <a routerLink="" routerLinkActive="activeLink" (click)="openDialogSesion()" class="nav-link" style="display: flex; align-items: center;">
            <img src="./../../../assets/imagen/perfil.png" alt="" width="25px" height="25px">
          </a>
        </li>
        <li *ngIf="active" class="nav-item dropdown p-2">
          <a class="nav-link dropdown-toggle" href="#" id="usuarioDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: flex; align-items: center;">
            <span class="mx-2">{{user}}</span>
            <img src="./../../../assets/imagen/perfil.png" alt="" width="25px" height="25px" *ngIf="active">
          </a>
          <ul class="dropdown-menu dropdown-menu-right dropdown-menu-left" aria-labelledby="usuarioDropdown">
            <li><a routerLink="/usuario/mi-cuenta" class="dropdown-item">Mi cuenta</a></li>
            <li><a href="#" class="dropdown-item" (click)="logout()">Cerrar Sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>