.header2 {
  width: 100%;
    z-index: 1;       
    top: 0;
    left: 0;
    right: 0;
    /* background-color: #0F1A2C; */
    color: #fff;    
    text-align: center;
  }
  .header{
    background-color: #0F1A2C;
    padding: 5px;
    position: relative;
  }
  .header2 h1 {    
    margin: 0;
  }
  

  ul,li{
    list-style: none;
  }  
  nav li a:hover{
    background-color: #20BCD1     
  }      
  .login a:hover{
    background-color: #20BCD1     
  }         

  .contenedor-menu{    
    background-color: #0F1A2C;
    
    display: flex;    
    justify-content: space-between;
    font-size: 1.5rem;    
    height: 60px;
  } 

  hr{
     width: 90%;
    margin: auto;
  }

  .activeLink{
    position: relative;
    padding-bottom: 20px;
}

.activeLink:before {
    content: "";
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 25%;
    right: 25%;
    border-bottom: #85e3f0 solid 2px;
}



/* nav:hover > ul { */
  /* display: flex;
  flex-direction: column;  
  color: #fff;    
  margin: 0 10px;
  padding: 10px;   */
/* } */


.ul > li,.login nav ul > a{
 float: left;
}


.ul li a, .login a{
  background-color: #0F1A2C;
  padding: 10px 15px;
  display: block;
  color: #fff;    
  
  text-decoration: none;  
}

.pages, .login{
  margin-top: -20px;    
}




.no-estilo{
  display: none;
  padding: 15px;
  position: absolute;
  min-width: 250px;
  margin-left: -15px;
}

.pages nav ul li:hover > ul{
  display: block;
  z-index: 2;    
}


.li {
  border-bottom: .5px solid white;      
  text-align: center;  
}

.login nav ul a:hover > ul{
  display: block;
  z-index: 2;    
}

.no-estilo-2{
  display: none;
  padding: 15px;
  position: absolute;
  min-width: 250px;
  margin-left: -150px;
  margin-top: 10px;
}